@use "../utilities/variables"
@use "../utilities/functions"

.login,
.register
  display: flex
  flex-direction: column
  justify-self: center
  justify-content: center
  width: 95%
  height: calc(100% - 25vh - 5em)
  max-width: 500px
  max-height: 470px
  border-radius: 70px
  box-shadow: variables.$main-el-shadow
  background: linear-gradient(#DAE8FC, #7EA6E0)
  transition: all 1.5s

  &-form
    display: flex
    flex-direction: column
    align-items: center

    &-username,
    &-password
      margin: 15px 0
      width: 90%
      max-width: 250px
      height: 50px
      text-align: center
      border-radius: 8px
      border: 0
      font-size: 1.05em
      box-shadow: 0 0 1px 0 black
      transition: all .25s

      &:focus::-webkit-input-placeholder
        opacity: 0
        transition: all .25s

      &:-webkit-autofill
        background-color: white

    &-submit
      margin: 15px auto 10px auto
      width: 90%
      max-width: 125px
      height: 70px
      text-align: center
      border-radius: 11px
      border: functions.border($color: #6C8EBF)
      background-color: #dfedff
      transition: all .25s
      font-size: 1em

      &:hover
        background-color: #cee0fa
        transition: all .25s

  &-register_link,
  &-login_link
    margin-bottom: -10px
    padding: 5px
    align-self: center
    font-size: 0.75em
    color: black

    &:hover
      color: #2656b8