@use "../utilities/variables"

.Messages
  display: grid
  grid-column: 2
  grid-template-rows: 75px 1fr 65px
  height: 100%
  max-height: inherit

  .header
    display: flex
    line-height: 75px
    text-align: left
    padding: 0 25px

    &__roommate
      display: flex
      flex-wrap: wrap
      align-items: center

      &__image
        width: 40px
        height: 40px
        box-shadow: black 0 0 3px
        border-radius: 50px

      &__name
        margin-left: 20px
        color: variables.$color-text-dark
        font-weight: 600

  .messages
    grid-row: 2
    align-self: end
    max-height: 100%
    padding: 0 25px
    overflow-y: scroll
    word-break: break-word

    &::-webkit-scrollbar-track
      margin: 2.5px 0

    &::-webkit-scrollbar
      width: 3px

    &::-webkit-scrollbar-thumb
      background-color: #C0BFc0

      &:hover
        background-color: #9c9c9c

    &__date
      display: flex
      align-items: center
      justify-content: center
      clear: both
      height: 40px
      font-size: variables.$font-size-small
      color: variables.$color-text-gray-light

    &__message
      display: flex
      width: fit-content
      max-width: 90%
      margin: 2.5px 0
      padding: 8px 15px
      border-radius: 15px
      white-space: pre-line
      font-size: variables.$font-size-big

      &--last
        clear: both

      &--me
        float: right
        clear: both
        background-color: #2D6AEC
        color: #DBEBFC

        .messages__message__text
          color: #DBEBFC

        .messages__message__time
          color: #CEDCFB

      &--roommate
        float: left
        clear: both
        background-color: #E9E9E9
        color: #1B1B1B

        .messages__message__text
          color: variables.$color-text-dark

        .messages__message__time
          color: variables.$color-text-gray

      &__time
        display: flex
        align-self: end
        padding-left: 8px
        transform: translateY(1px)
        word-break: keep-all
        font-size: variables.$font-size-small

  .form
    display: block
    margin-top: 15px
    margin-bottom: 15px
    padding: 0 25px
    overflow: hidden

    &__inputMsg
      width: 100%
      padding: 7px 17px 7px 17px
      resize: none
      white-space: pre-wrap
      line-height: 20px
      border-radius: 20px
      background-color: #E9E9E9
      border: none
      font-size: 1.05em
      color: variables.$color-text-dark

      &::-webkit-scrollbar
        display: none

    &__submit
      display: none

@media screen and (max-width: variables.$width-mobile-view)
  .Messages
    .header
      padding: 0
      background-color: #F6F6F6

      &__rooms_btn
        padding-left: 25px
        padding-right: 20px
        font-size: 24px
        color: #1B1B1B
        cursor: pointer

        &:active
          background-color: #e8e8e8

    .form
      display: block

      &__inputMsg
        width: calc(100% - 35px - 20px)
        float: left

      &__submit
        display: block
        float: right
        border-radius: 50%
        border: 0
        width: 35px
        height: 35px
        background: #E9E9E9 url("../../assets/images/send.ico") no-repeat 7px center
        background-size: 25px auto
        transition: 0.25s
        cursor: pointer

        &:active
          background-color: #48a0ff
          transition: initial